.btn-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    color: #f3f4f5 !important;
    background-color: none;
    border: 2px solid black !important;
    border-radius: 40px !important;
    height: 40px;
}