.btn-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300 !important;
    font-size: 20px;
    color: #000 !important;
    background-color: #ECECEC !important;
    border: 0.5px solid white !important;
    border-radius: 40px !important;
    height: 45px;
    transition: all 0.2s ease-in-out !important;
    &:hover{
        transform: scale(1.1);
    }
    @media screen and (max-width: 600px) {
        font-size: 12px !important;
    }
}
.logo{
    font-size: 60px;
    @media screen and (max-width: 600px) {
        font-size: 40px;
    }
}

